BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: AcrossEmptyLines
ReflowComments: True
RequiresClausePosition: WithPreceding
