#!/bin/bash

if command -v nvim > /dev/null; then
    export VISUAL='nvim'
    export EDITOR='nvim'
else
    export VISUAL='vim'
    export EDITOR='vim'
fi

if [[ -d $HOME/binaries/x86_64-linux ]]; then
    export PATH=$HOME/binaries/x86_64-linux:$PATH
fi
