[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = kjwsl
	email = kjwdev01@gmail.com
[alias]
	supdate = submodule update --remote --rebase
