[submodule "nvim"]
    branch = "master"
    update = merge
	path = .config/nvim
	url = git@github.com:kjwsl/nvim-config
[submodule "oh-my-bash"]
	path = submodules/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash
[submodule "oh-my-fish"]
	path = submodules/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/eza-themes"]
	path = submodules/eza-themes
	url = https://github.com/eza-community/eza-themes.git
[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "notes"]
    branch = "master"
    update = merge
	path = notes
	url = git@github.com:kjwsl/notes.git
