[submodule "nvim"]
    branch = "master"
    update = merge
	path = .config/nvim
	url = https://github.com/kjwsl/nvim-config
[submodule "norgs"]
    branch = "master"
    update = merge
	path = norgs
	url = https://github.com/kjwsl/norgs
[submodule "oh-my-bash"]
	path = submodules/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash
[submodule "oh-my-fish"]
	path = submodules/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/eza-themes"]
	path = submodules/eza-themes
	url = https://github.com/eza-community/eza-themes.git
