[submodule "nvim"]
    branch = "master"
    update = merge
	path = .config/nvim
	url = git@github.com:kjwsl/nvim-config
[submodule "oh-my-bash"]
	path = submodules/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash
[submodule "tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "obsidian-vault"]
    branch = "master"
    update = merge
	path = obsidian-vault
	url = git@github.com:kjwsl/obsidian-vault
