{
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    },
    "enablePermanentToolApproval": true,
    "folderTrust": true,
    "enableEnvVarRedaction": true
  },
  "general": {
    "previewFeatures": true,
    "useAlternateScreenBuffer": true
  },
  "ui": {
    "showStatusInTitle": true,
    "showCitations": true,
    "showModelInfoInChat": true
  },
  "context": {
    "loadMemoryFromIncludeDirectories": true,
    "includeDirectories": [
      "{{ .chezmoi.homeDir }}/.gemini",
      "{{ .chezmoi.homeDir }}/obsidian-vault"
    ]
  },
  "tools": {
    "shell": {
      "showColor": true
    },
    "autoAccept": true
  }
}
